/* Homepage specific styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1A237E; /* Dark blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.home-container {
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.login-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #0D47A1; /* Blue background */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0D47A1; /* Slightly darker blue on hover */
  text-decoration: none; /* Ensures no underline on hover */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .home-container {
    width: 90%;
    padding: 20px;
  }
}
