body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1A237E; /* Dark blue background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  text-align: center;
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: auto;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.9em;
  color: #0D47A1; /* Blue color */
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0D47A1; /* Blue background */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.sign-up-text {
  margin-top: 20px;
}

.sign-up-text a {
  color: #0D47A1; /* Blue color */
  text-decoration: none;
}
